name: Coverage
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches:
      - '**'

jobs:

  build-and-test:
    name: coverage
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false

    steps:
      - uses: actions/checkout@v4

      - name: Configure Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.14'
          cache: 'pip'
          cache-dependency-path: setup.py

      - name: Install
        run: |
          python --version
          python -m pip install .[dev]

      - name: Run unit tests
        run: |
          coverage run -m unittest

      - name: Check coverage
        run: |
          coverage report -m --fail-under 100

